body {
    font-size: larger;
}

@media(max-width: 500px) {
    .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
    }
}

.titled {
    font-family: 'Merriweather', serif !important;
    font-size: 58px !important;
    font-weight: 400 !important;
    line-height: 64px !important;
}

.subtitled {
    font-family: 'Merriweather', serif !important;
    font-size: 22px !important;
    font-weight: 400 !important;
    line-height: 36px !important;
}

#colored-dna-back {
    background-position: center;
    background-size: cover;
    background-color: #3273dc;
}

.navbar .navbar-item {
    color: #190af3;
}

.navbar .navbar-item.is-active {
    color: #190af3;
    font-weight: 700;
}

.navbar .navbar-item:hover {
    background: transparent;
    color: white;
}

.navbar .navbar-item a {
    margin-left: 1rem;
    color: #190af3;
}

.blog-posts {
    min-height: 100vh;
    background: white;
    padding-top: 4rem;
    padding-bottom: 10rem;
}

.blog-posts article {
    padding: 1.5rem;
}

.blog-posts .post img {
    border-radius: 6px;
}

.blog-posts .post .post-category {
    color: #3b7adf;
}

.blog-posts .post .post-title {
    font-size: 2.2rem;
}

.blog-posts .post .post-excerpt {
    line-height: 1.5rem;
    letter-spacing: .03rem;
    font-size: 1.2rem;
    font-family: 'IBM Plex Serif', serif;
    color: #92a3ab;
}

.blog-posts .post .featured .featured-image img {
    height: 380px;
}

.text-informativo {
    line-height: 1, 5rem;
    letter-spacing: .03rem;
    font-size: 1.2rem;
    font-family: sans-serif, serif;
    color: #92a3ab;
}

.text-informativo2 {
    line-height: 1, 5rem;
    letter-spacing: .03rem;
    font-size: 1.2rem;
    font-family: sans-serif, serif;
    color: #92a3ab;
}

.text-informativo3 {
    line-height: 1, 5rem;
    letter-spacing: .03rem;
    font-size: 1.2rem;
    font-family: sans-serif, serif;
    color: #92a3ab;
}